
//=========================================

//=======Макет та контейнер========

// Максимальна довжина контейнеру яка вказана в макеті
$maxWidthContainer: 1520;

// Довжина макету
$maxWidth: 1920;

// Відступи безпеки
$paddingSafe: 15px;

//========Верстка===========

// Середній розмір шрифту
$fontSize: 16px;

// Найчастіші кольори
//$white: #FFFF
$green: #588535;

//=========================================
