@import 'fonts.scss';
@import './main/reset.scss';
@import 'settings.scss';
@import './functions/adaptive_value.scss';
@import './main/main_styles.scss';
@import './common.scss';
@import './header.scss';
@import './footer.scss';
@import '../../node_modules/swiper/swiper-bundle.min';

body{
    font-family: Poppins;
}
.main-page__container{
    max-width: 1700px + $paddingSafe * 2;
    width: 100%;
    padding: 0 $paddingSafe;
    margin: 0 auto;
}

//---------------------MAIN PAGE------------------


.main__header-elements{
    background-color: #F6F6F6;
}
.main-page__content{
    display: flex;
    .main-page__info{
        @include adaptive_value('margin-top', 230, 100, 0);
        .main-page__tag{
            font-weight: 600;
            @include adaptive_value('font-size', 24, 20, 0);
            line-height: 125%;
            text-transform: uppercase;
            color: #22271C;
        }
        .main-page__title{
            font-weight: 500;
            @include adaptive_value('font-size', 100, 30, 0);
            line-height: 125%;  
            color: #22271C;
            max-width: 740px;
        }
        .main-page__desctiption{
            @include adaptive_value('font-size', 24, 16, 0);
            @include adaptive_value('margin-top', 50, 30, 0);
            max-width: 659px;
        }
        .main-page__buttons{
            display: flex;
            @include adaptive_value('margin-top', 56, 24, 0);
            .main-page__add-to-cart{
                display: flex;
                align-items: center;
                justify-content: center;
                //clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
                background-color: $green;
                padding: 15px 49px 15px 33px;
                border-top-left-radius: 10px;
                position: relative;

                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                text-align: center;
                color: #FFFFFF;
                transition: 0.6s;

                &::after{
                    content: '';
                    position: absolute;
                    height: 0;
                    width: 0;
                    bottom: 0;
                    right: 0;
                    border-top: 61px solid transparent;
                    border-right: 27px solid #F6F6F6;
                    z-index: 0;
                }
                
                &:hover{
                    background-color: #ffffff;
                    color: $green;
                }
            }
            .main-page__learn-more{
                display: flex;
                align-items: center;
                justify-content: center;
                //clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
                background-color: #FFFFFF;
                padding: 15px 33px 15px 49px;
                border-bottom-right-radius: 10px;
                position: relative;

                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                text-align: center;
                color: $green;
                transition: 0.6s;

                &::before{
                    content: '';
                    position: absolute;
                    height: 0;
                    width: 0;
                    bottom: 0;
                    left: 0;
                    border-bottom: 61px solid transparent;
                    border-left: 27px solid #F6F6F6;
                }
                &:hover{
                    background-color: $green;
                    color: #ffffff;
                }
            }
            
        }
    }
    .main-page__image{
        width: 45%;
        margin-left: auto;
        position: relative;
        .main-page__big-img{
            position: relative;
            width: fit-content;
            margin: 0 auto;
            z-index: 2;
            img{
                max-width: 100%;
                object-fit: contain;
            }
        }
        .main-page__circles{
            z-index: 1;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            top: 18%;
            .main-page__circle-items{
                display: grid;
                grid-template-areas: "layer";
                place-items: center;
                border: 5px solid #FFFFFF;
                border-radius: 50%;
                @include adaptive_value('--radius', 382, -20, 0);
                //--radius: 382px;
                width: calc(2 * var(--radius));
                height: calc(2 * var(--radius));
              }
            .main-page__circle-item{
                grid-area: layer;
                @include adaptive_value('width', 60, 20, 0);
                @include adaptive_value('height', 60, 20, 0);
                border-radius: 50%;
              
                display: grid;
                place-items: center;
              
                background: #FFFFFF;
                
                img{
                    width: 60%;
                    height: 60%;
                    object-fit: contain;
                }
              
                // Decimal value, 0-1 based on the child's index.
                --d: calc(var(--i) / var(--total));
                // Offset to get better starting placement on the circle
                --r-offset: -0.756turn;
                // Full circle
                --r-amount: 1turn;
                // Rotation based on the decimal and r modifiers
                --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
                // Rotate, transform out, then negative rotation so the content appears upright
                --transform: rotate(var(--r)) translate(var(--radius))
                  rotate(calc(-1 * var(--r)));
              
                transform: var(--transform);
                transition: transform 1.5s ease-in-out;
                //transition-delay: calc(0.1s * var(--i));
              
                .main-page__circle-items:hover & {
                  --radius: calc(-20vmin);
                  // Animate the rotation
                  --r-offset: -1.75turn; //0.75turn;
                }
            }
        }
    }
    .main-page__message{
        position: absolute;
        top: 60%;
        z-index: 3;
        translate: -44% 0;
    }
    .message-main-page{
        max-width: 421px;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0px 0px 80px 10px rgba(36, 57, 11, 0.04);
        backdrop-filter: blur(7px);
        border-radius: 5px;
        .message-main-page__content{
            @include adaptive_value('padding', 25, 7, 0);
            display: flex;
            align-items: center;
            .message-main-page__info{
                @include adaptive_value('margin-left', 20, 10, 0);
                .message-main-page__description{
                    @include adaptive_value('margin-top', 16, 5, 0);
                    @include adaptive_value('font-size', 20, 8, 0);
                    line-height: 130%;
                    max-width: 253px;
                }
                .message-main-page__title{
                    font-weight: 700;
                    @include adaptive_value('font-size', 24, 10, 0);
                    color: #22271C;
                }
            }
            .message-main-page__img{
                @include adaptive_value('width', 96, 30, 0);
                flex: 1 1 auto;
                background: #FFFFFF;
                box-shadow: 0px 0px 80px 10px rgba(36, 57, 11, 0.09);
                border-radius: 5px;
                @include adaptive_value('padding', 20, 5, 0);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
@media(max-width: 1599px){
    .main-page__content{
        .main-page__image{
            .main-page__message{
                top: 80%;
                translate: -10% 0;
            }
        }
    }
}

@media(max-width: 978px){
    .main-page__content{
        .main-page__info{
            @include adaptive_value('margin-top', 60, 40, 0);
        }
    }
}
@media(max-width: 767px){
    .main-page__content{
        flex-direction: column-reverse;
        align-items: center;
        .main-page__image{
         
            display: flex;
            margin: 0;
            justify-content: center;
            align-items: center;
            padding-bottom: 15%;
            .main-page__big-img{
                position: static;
                margin: 0;
            }
            .main-page__circles{
                
                .main-page__circle-items{
                    @include adaptive_value('--radius', 382, 80, 0);
                  }
                .main-page__circle-item{
                    @include adaptive_value('width', 60, 30, 0);
                    @include adaptive_value('height', 60, 30, 0);
                }
            }
            .main-page__message{
                left: -50%;
                top: 108%;
                transform: translate(0, -108%);
              
                .message-main-page__content{
                    @include adaptive_value('padding', 20, 10, 0);
                    .message-main-page__info{
                        .message-main-page__description{
                            @include adaptive_value('font-size', 16, 10, 0);
                        }
                        .message-main-page__title{
                            @include adaptive_value('font-size', 24, 12, 0);
                        }
                    }
                    .message-main-page__img{
                        @include adaptive_value('width', 96, 60, 0);
                        @include adaptive_value('padding', 20, 5, 0);
                    }
                }
            }
        }
    }
}
@media(max-width: 564px){
    .main-page__content{
        .main-page__info{
            .main-page__buttons{
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                .main-page__add-to-cart{
                    border-radius: 8px;
                    &::after{
                        display: none;
               
                    }
                }
                .main-page__learn-more{
                    border-radius: 8px;
                    &::before{
                        display: none;
               
                    }
                }
            }
        }
    }
}

//--------HEADER PAGE----------//
.header-page__big-container{
    max-width: 1700px + $paddingSafe * 2;
    width: 100%;
    padding: 0 $paddingSafe;
    margin: 0 auto;
    position: relative;
}
.main__header-page{
    margin-top: 129px;
}

.header-page__swiper {
    width: 100%;
    height: auto;
    position: relative;
  }
.header-page__swiper-arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    z-index: 3;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(36, 57, 11, 0.05);
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;

    &::before,&::after{
        content: '';
        position: relative;
        height: 7px;
        width: 2px;
        background-color: rgba(88, 133, 53, 0.5);;
        border-radius: 4px;
    }
    &::before{
        transform: rotate(45deg);
        top: -2px;
    }
    &::after{
        transform: rotate(-45deg);
        top: 1px;
        left: -2px;
    }
    &.swiper-button-disabled{
        opacity: 0;
    }
}
.header-page__swiper-button-prev{
    left: 0;
    transform: translate(-25%, 0%);
}
.header-page__swiper-button-next{
    right: 0;
    transform: translate(25%, 0%);
    transform: rotate(180deg);
}
.header-page__swiper{
    .header-page__items{
        align-items: flex-end;
    }
}
.header-page-item{
    margin: 0;
    padding: 0;
    cursor: pointer;
    &.swiper-slide-active{
        .header-page-item__content{
            transition: 0.6s;
            background-color: $green;
            padding-bottom: 40px;
            .header-page-item__image{
                max-height: 100%;
                img{
                 
                    height: 100%;
                    max-height: 100%;
                }
            }
            .header-page-item__info{
                padding-right: 5px;
                .header-page-item__title{
                    transition: 0.4s;
                    font-weight: 700;
                    @include adaptive_value('font-size', 24, 18, 0);
                    line-height: 130%;
                    color: #FFFFFF;
                    transition: 0.6s;
                }
                .header-page-item__description{
                    transition: 0.4s;
                    margin-top: 10px;
                    @include adaptive_value('font-size', 20, 16, 0);
                    color: rgba(255, 255, 255, 0.6);
                    
                }
                .header-page-item__price{
                    transition: 0.4s;
                    font-size: 24px;
                    color: #FFFFFF;
                }

                .header-page-item__button{
                    display: inline-block;
                    overflow: 1;
                }
            }
        }
    }
    .header-page-item__content{
        height: 100%;
        position: relative;
        background-color: #ffffff;
        align-items: center;
        padding: 20px;
        border-radius: 18px;
        display: flex;
  
        .header-page-item__like{
            position: absolute;
            top: 20px;
            right: 20px;
            &-icon{
                width: 17px;
                height: 16px;
            }
        }
        .header-page-item__image{
            max-height: 140px;
            height: 100%;
            img{
                height: 100%;
                max-height: 140px;
                object-fit: contain;
            }
        }
        .header-page-item__info{
            padding-top: 20px;
            margin-left: 20px;
            .header-page-item__title{
                font-weight: 600;
                @include adaptive_value('font-size', 20, 16, 0);
                line-height: 180%;  
                color: #22271C;

            }
            .header-page-item__description{
                @include adaptive_value('font-size', 16, 12, 0);
                line-height: 138%;
                margin-top: 4px;

            }
            .header-page-item__price{
                font-weight: 700;
                font-size: 20px;
                line-height: 180%;
                color: #22271C;

            }
            .header-page-item__button{
                display: none;
                overflow: 0;
                background: #FBFDFE;
                border-radius: 5px;
                padding: 5px 24px;
                font-size: 14px;
                line-height: 214%;
                color: #588535;
                margin-top: 21px;
                transition: 0.4s;
            }
        }
    }

}
@media(max-width: 479px){
    .header-page-item{
        .header-page-item__content{
            flex-direction: column;
            padding: 0;
            
            .header-page-item__info{

                margin: 0;
                max-width: 100%;
                width: 100%;
                padding: 30px;
                padding-bottom: 0;
            }
            .header-page-item__image{
                padding: 15px;
            }
        }
    }
}

//--------ADDED---------

.main__added{
    @include adaptive_value('margin-top', 120, 50, 0);
    @include adaptive_value('margin-bottom', 120, 80, 0);
}
.added__content{
    width: 100%;
    .added__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 20px;
        @include adaptive_value('row-gap', 80, 30, 0);
        .added__item{
            display: flex;
            max-width: 400px;
            .added-item__icon{
                max-height: 65px;
                height: 100%;
                max-width: 90px;
                width: 100%;
                margin-right: 20px;
            }
            .added-item__info{
                .added-item__title{
                    font-weight: 700;
                    @include adaptive_value('font-size', 24, 18, 0);
                    line-height: 120%;
                    margin-bottom: 5px;  
                    color: #22271C;
                }
                .added-item__description{
                    @include adaptive_value('font-size', 16, 14, 0);
                }
            }
        }
    }
}
@media(max-width: 767px){
    .added__content{
        .added__items{
            flex-direction: column;
            align-items: center;
            .added-item{
                flex-direction: column;
                align-items: center;
                .added-item__title{
                    @include adaptive_value('margin-top', 20, 14, 0);
                    text-align: center;
                }
                .added-item__description{
                    text-align: center;
                }
            }
        }
    }
}

//--------COLECTION-----------

.collection__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptive_value('row-gap', 50, 25, 0);
}

.item-collection{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 10px;
    padding: 30px 10px;
    overflow: hidden;
    position: relative;
    .item-collection__info{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
   
        padding: 0px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @include adaptive_value('height', 80, 50, 0);
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(25px); 
        border-radius: 0px 0px 10px 10px;

        .item-collection__name{
            font-weight: 500;
            @include adaptive_value('font-size', 20, 16, 0);
            line-height: 150%;
            color: #22271C;
        }
        .item-collection__stock{
            font-weight: 500;
            @include adaptive_value('font-size', 16, 14, 0);
            line-height: 150%;
            color: #588535;
            
        }
    }
}
.collection__content{
    width: 100%;
}
.collection__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 363px);
    gap: 30px;
}
.collection__item{
    &:nth-child(1){
        grid-row-start: span 2;
    }
    &:nth-child(5){

        grid-row-start: span 2;
    }
}
.item-collection__img{
    max-width: 100%;
    img{
        object-fit: contain;
        max-width: 100%;
    }
}
@media(max-width: 1199px){
    .collection__items{
        grid-template-columns: repeat(2, 1fr);
    }
    .item-collection__img{
        max-width: fit-content;
        img{
            object-fit: contain;
            max-width: fit-content;
        }
    }
}
@media(max-width: 767px){
    .collection__items{
        grid-template-columns: 1fr;
    }
    .item-collection__img{
        width: 100%;
        height: 100%;
        img{
            object-fit: contain;
            max-width: 100%;
            height: 100%;
        }
    }
    .collection__item{
        &:nth-child(1){
            grid-row-start: span 1;
        }
        &:nth-child(5){
    
            grid-row-start: span 1;
        }
    }
}


//----------CARE--------------
.main__care{
    margin: 120px 0px;
}
.care{
    position: relative;
}
.care__container{
    position: relative;
    z-index: 2;
}
.care__image{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(88, 133, 53, 0.5);
    }
}
.care__content{
    padding: 100px 0px;
    .care__header{
        .care__title{
            color: #FFFFFF;
        }
        .care__description{
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .care__info{
        @include adaptive_value('margin-top', 50, 30, 0);
        .care__items{
            display: flex;
            justify-content: space-between;
            gap: 30px;
            .item-care{
                display: flex;
                .item-care__content{
                    display: flex;
                    flex: 0 1 auto;
                    background: #FFFFFF;
                    box-shadow: 5px 10px 30px rgba(22, 0, 86, 0.06);
                    border-radius: 10px;
                    @include adaptive_value('padding', 30, 20, 0);
                    gap: 20px;
                    .item-care__image{
                        @include adaptive_value('width', 100, 50, 0);
                        @include adaptive_value('height', 100, 50, 0);
                        background: rgba(88, 133, 53, 0.1);
                        border-radius: 50%;
                        @include adaptive_value('padding', 30, 12, 0);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-self: center;
                    }
                    .item-care__info{
                        .item-care__title{
                            font-weight: 700;
                            @include adaptive_value('font-size', 24, 18, 0);
                            line-height: 150%;
 
                            color: #22271C;
                            
                        }
                        .item-care__description{
                            @include adaptive_value('font-size', 16, 14, 0);
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1023px){
    .care__content{
        .care__info{
            .care__items{
                flex-direction: column;
                .care__item{
                    .item-care__content{
                        flex: 1 1 auto;
                    }
                }
            }
        }
    }
}

//------Featured Products

.main__featured{
    margin-bottom: 120px;
}

.featured__slide{
    height: calc((100% - 30px) / 2);

}
.featured__swiper{
    height: 980px;
}
.featured__items{
    @include adaptive_value('margin-top', 50, 30, 0);
}
.featured-item{
    overflow: hidden;
    .featured-item__content{
        overflow: hidden;
        border: 1px solid rgba(88, 133, 53, 0.1);
        border-radius: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: 0.6s;
        .featured-item__image{
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .featured-item__info{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background: rgba(88, 133, 53, 0.1);
            padding: 30px;
            flex: 1 1 auto;
            transition: 0.6s;
            .featured-item__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                gap: 7px;
                .featured-item__title{
                    font-weight: 500;
                    @include adaptive_value('font-size', 20, 16, 0);
                    line-height: 150%;
                    color: #22271C;
                    transition: 0.6s;
                }
                .featured-item__price{
                    color: #22271C;
                    font-weight: 700;
                    @include adaptive_value('font-size', 20, 16, 0);
                    line-height: 150%;
                    transition: 0.6s;
                }
            }
            .featured-item__bottom{
                @include adaptive_value('margin-top', 30, 15, 0);
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                gap: 7px;
                .featured-item__rate{
                    display: flex;
                    gap: 5px;
                    .featured-item__icon-star{
                        @include adaptive_value('width', 20, 14, 0);
                        @include adaptive_value('height', 20, 14, 0);
                    }
                }
                .featured-item__button{
                    font-weight: 400;
                    @include adaptive_value('font-size', 14, 12, 0);
                    line-height: 214%;
                    color: #588535;

                    padding: 5px 24px;
                    @include adaptive_value('padding-right', 24, 18, 0);
                    @include adaptive_value('padding-left', 24, 18, 0);
                    transition: 0.6s;
                }
            }
        }
        &:hover{
            border: 1px solid $green;
            .featured-item__info{
                background-color: $green;
                .featured-item__header{
                    .featured-item__title{
                        color: #ffffff;
                    }
                    .featured-item__price{
                        color: #ffffff;
                    }
                
                }
                .featured-item__bottom{
                    .featured-item__button{
                        background-color: #ffffff;
                        border: 1px solid white;
                        color: $green;
                        &:hover{
                            background-color: #efffe3;
                            border: 1px solid #ebffdd;
                            color: #4f792f;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 700px){
    .featured-item{
        .featured-item__content{

            .featured-item__image{
                height: 230px;

            }
            .featured-item__info{

                .featured-item__header{
                    gap: 14px;

                    .featured-item__title{
                        font-size: 17px;
                    }
                    .featured-item__price{
                        font-size: 17px;
                    }
                }
                .featured-item__bottom{
                    .featured-item__rate{

                        .featured-item__icon-star{
                        }
                    }
                    .featured-item__button{
                    }
                }
            }
        }
    }
    .featured__swiper{
        height: 800px;
    }
}

.featured__pagination{
    display: flex;
    justify-content: center;
    @include adaptive_value('margin-top', 50, 30, 0);
    .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        background-color: white;
        border: 2px solid rgba(88, 133, 53, 0.5);
        opacity: 1;
        transition: 0.4s ;
        &-active{
            border: 4px solid #588535;
        }
    }
    
}